<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Login</title>
</head>
<body>
  <h1>Welcome, <%= user.username %>!</h1>
  <p>Your full name is <%= user.fName %> <%= user.lName %>.</p>
  <% if (user.role === 'admin') { %>
    <p>You are an administrator.</p>
  <% } else { %>
    <p>You are a blogger.</p>
  <% } %>
  <!-- Logout button -->
  <a href="/render/logout" class="logout-button">Log Out</a>
</body>
</html>
